In [3]:
import pandas as pd

In [6]:
pd.read_csv('dataset/csv/train.csv')

,Unnamed: 0,ID,line_number,discourse_type,discourse_text,total_lines
0,2,24464531,2,METHODS,Outcome measures included pain reduction and i...,12
1,3,24464531,3,METHODS,Pain was assessed using the visual analog pain...,12
2,4,24464531,4,METHODS,Secondary outcome measures included the Wester...,12
3,5,24464531,5,METHODS,"Serum levels of interleukin 1 ( IL-1 ) , IL-6 ...",12
4,6,24464531,6,RESULTS,There was a clinically relevant reduction in t...,12
...,...,...,...,...,...,...
180033,180035,24464531,7,RESULTS,For the absolute change in percent atheroma vo...,12
180034,180036,24464531,8,RESULTS,"For PAV , a significantly greater percentage o...",12
180035,180037,24464531,9,RESULTS,Both strategies had acceptable side effect pro...,12
180036,180038,24464531,10,CONCLUSIONS,"Compared with standard statin monotherapy , th...",12
180037,180039,24464531,11,CONCLUSIONS,( Plaque Regression With Cholesterol Absorptio...,12